:root {
  --base-color: #ffffff;
  --text-color: #000000;
  --color-1: #F9F6F3
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "DejaVu Sans Monaco","Menlo",Courier,Serif;
  color: var(--text-color);
}

body {
  padding: 1em;
  background-color: var(--base-color);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2em;
}

.header a {
  font-weight: bold;
  text-decoration: none;\
  color: var(--text-color);
}

.header h1.title {
  font-size: 20px;
}

.header h1.title a:hover {
  color: #000;
}

.header-right {
  display: flex;
  gap: 20px;
}

.header-right a:hover {
  color: #000;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 3em;
}

.banner .contact {
  font-size: 1.1em;
  line-height: 1.6;
}
