:root {
  --base-color: #ffffff;
  --text-color: #000000;
  --color-1: #F9F6F3
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI';
  color: var(--text-color);
}

body {
  padding: 1em;
  background-color: var(--base-color);
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

